@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
body{
    font-family: Jost;
    margin:0;
    padding:0
}

@media screen {
        
    main{
        background-color: aqua;
        height: 500px;
    }
    .header_div{
        height: 200px;
        background-color: #fee4f8;
        background-image: url(bg-main2.png);
        background-size: contain;
        background-position-x: 130px;
        background-repeat: no-repeat;
    }
    .header_div__image{
        width: 250px;
    }
    .my_images_1:active{
        transition: 1s;
        height: 800px;
    }
    footer{
        background-color: #fee4f8;
    }
    footer li{
        list-style: none;
        margin-left: auto;
    }
    footer a{
        text-decoration: none;
    }
}
@media(max-width: 992px) {
    
    .header_div{
        height: 100px;
        background-color: #fee4f8;
        background-image: url(bg-main.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header_div__image{
        padding-top: 180px;
        width: 200px;
    }

    footer{
        background-color: #fee4f8;
    }
    footer li{
        list-style: none;
        margin-left: auto;
    }
    footer a{
        text-decoration: none;
    }

}